.one{
    width: 100%;
    height: 200px;
    background-color: gray;
    display: flex;
}
.two{
    width: 100%;
    height: 200px;
    background-color: black;
}
.D1{
    width: 20%;
    background-color:gray ;
    display: inline-block;
    margin: 40px;
}
.D2{
    width: 20%;
    background-color:gray ;
    display: inline-block;
    margin: 40px;
}
.D3{
    width: 20%;
    background-color:gray ;
    display: inline-block;
    margin: 40px;
}
.D4{
    width: 20%;
    background-color:gray ;
    display: inline-block;
    margin: 40px;
}